block sec1
    a(name="a-top")
    section.b-sec.sec1.main-sec
        //.container
        .b-sec__bg.b-sec__bg_half-bg


        .sec__row.main-sec__row
            .sec__col2.main-sec__col
                .col2__inner
                    .main-sec__main
                        .main-sec__img
                            img(src="static/images/png/sec1-logo.png" alt="logo")
                        h2.dark Свободные кухни
                        .descr.main-sec__descr Мы создаем готовые кухни для работы, которые помогают ресторанному бизнесу расти и&nbsp;масштабироваться. Начните готовить уже сейчас!
                        button.button.main-sec__button.button_green.popup-open(href="#modal") Как это работает?
            .sec__col2.main-sec__col