block sec2
    section.b-sec.sec2.prof
        //.container
        .b-sec__bg.b-sec__bg_half-bg

        .sec__row.prof__row
            .sec__col2.prof__col
                .col2__inner

                    .prof-first
                        .prof__img.prof-first__img
                            img(src="static/images/jpg/prof-kitchen.jpg" alt="Профессиональная кухня")
                        h2.white-title Профессиональная кухня
                        .descr-bold.prof__descr Идеально для организации доставки действующего ресторана или открытия нового
                        ul.list
                            li.list-item
                                .descr-bold.list-item__title Запуск проекта за&nbsp;1&nbsp;день
                            li.list-item
                                .descr-bold.list-item__title Все уже готово
                                .descr-small.list-item__descr Тепловое, холодильное и&nbsp;прочее оборудование, места хранения, все необходимые помещения и&nbsp;коммуникации
                            li.list-item
                                .descr-bold.list-item__title Аренда от 1&nbsp;месяца
                                .descr-small.list-item__descr Никаких дополнительных затрат. Ежедневная уборка, вывоз мусора, техническое обслуживание оборудования и&nbsp;т.&nbsp;д.&nbsp;&mdash; всё включено в&nbsp;аренду.
                        button.button.prof__button.button_white.popup-open(href="#modal") Выбрать

            .sec__col2.prof__col
                .b-sec__bg.b-sec__bg_half-bg-2
                .col2__inner
                    .prof-second
                        .prof__img.prof-second__img
                            img(src="static/images/jpg/workplace.jpg" alt="Рабочее место")
                        h2.white-title Рабочее место
                        .descr-bold.prof__descr Идеально для частных поваров, кейтеринга и&nbsp;разработки меню
                        ul.list
                            li.list-item
                                .descr-bold.list-item__title Выбирай, что необходимо
                                .descr-small.list-item__descr Скомплектуй для себя все необходимое оборудование и&nbsp;оплачивай только его фактическое использование
                            li.list-item
                                .descr-bold.list-item__title Всё, что вы не&nbsp;любите, мы сделали за вас&nbsp;&mdash; вам остаётся только готовить
                                .descr-small.list-item__descr Уборка, вывоз мусора, коммунальные платежи, техническое обслуживание все включено в&nbsp;аренду
                            li.list-item
                                .descr-bold.list-item__title Гибкий график работы
                                .descr-small.list-item__descr арендуй рабочее место на&nbsp;час, день или месяц
                        button.button.prof__button.button_white.popup-open(href="#modal") Выбрать




