block sec4
    section.b-sec.sec4.rent
        .b-sec__bg
        .rent__body
            .rent-tabs
                .rent-tabs__row
                    .rent-tabs__nav
                        .rent-tabs__item
                            a.rent-tabs__link(href="#tab-1") Пиццерия
                        .rent-tabs__item
                            a.rent-tabs__link(href="#tab-2") Суши
                        .rent-tabs__item
                            a.rent-tabs__link(href="#tab-3") Кондитерская
                        .rent-tabs__item
                            a.rent-tabs__link(href="#tab-4") Бургерная
                        .rent-tabs__item
                            a.rent-tabs__link(href="#tab-5") Бизнес-ланч
                .rent-tabs__body
                    #tab-1.rent-tabs__block
                        .rent-head
                            .sec__row.rent-head__row
                                .sec__col2.rent-head__col
                                    .col2__inner
                                        h2.dark Аренда рабочего места<br>
                                            span от 10 BYN/час
                                .sec__col2.rent-head__col
                                    .col2__inner
                                        .descr.
                                            Входит печь, тестомес, тестораскатка или пицца-пресс, холодильник, морозильная камера, стол производственный
                                            (а&nbsp;лучше специальный холодильный стол для сбора пиццы) кофемашина/слаш-машина/термопот
                                        button.button.button_green.popup-open(href="#modal") Оставить заявку
                    #tab-2.rent-tabs__block.
                        Содержимое 2-й вкладки
                    #tab-3.rent-tabs__block.
                        Содержимое 3-й вкладки
                    #tab-4.rent-tabs__block.
                        Содержимое 4-й вкладки
                    #tab-5.rent-tabs__block.
                        Содержимое 5-й вкладки







            .slider.rent__slider
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/rent-1.jpg" alt="Аренда")

                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/rent-2.jpg" alt="Аренда")

                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/rent-3.jpg" alt="Аренда")

                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/rent-1.jpg" alt="Аренда")
