block sec7
    section.b-sec.sec7.why-we
        .b-sec__bg.b-sec__bg_gray
        .why-we__body
            h2.white-title.center Почему мы?

            .slider.tizers__slider
                .slider-item.tizer__item
                    .tizer__inner
                        .tizer__img
                            +icon("clean")
                        h3.tizer__title Идеальная чистота
                        .descr.tizer__descr.
                            Мы обеспечиваем постоянную уборку, мойку кухонного инвентаря, дезинфекцию и&nbsp;дератизацию.
                .slider-item.tizer__item
                    .tizer__inner
                        .tizer__img
                            +icon("communications")
                        h3.tizer__title Коммуникации
                        .descr.tizer__descr.
                            В наших кухнях все коммуникации уже подключены и&nbsp;расположены на&nbsp;нужных местах.
                .slider-item.tizer__item
                    .tizer__inner
                        .tizer__img
                            +icon("equipment")
                        h3.tizer__title Оборудование
                        .descr.tizer__descr.
                            У нас вы найдёте всё необходимое профессиональное оборудование, чтобы реализовать все свои кулинарные идеи!
                .slider-item.tizer__item
                    .tizer__inner
                        .tizer__img
                            +icon("Internet")
                        h3.tizer__title Интернет
                        .descr.tizer__descr.
                            В кухнях доступен высокоскоростной интернет для того, чтобы вы всегда были на&nbsp;связи.
                .slider-item.tizer__item
                    .tizer__inner
                        .tizer__img
                            +icon("storage")
                        h3.tizer__title Хранение
                        .descr.tizer__descr.
                            Не беспокойтесь о&nbsp;хранении ваших продуктов! У&nbsp;нас доступны холодильные, морозильные и&nbsp;сухие складские помещения.
                .slider-item.tizer__item
                    .tizer__inner
                        .tizer__img
                            +icon("access")
                        h3.tizer__title Доступ 24/7
                        .descr.tizer__descr.
                            Нужно готовиться к&nbsp;заказам даже ночью? Мы&nbsp;примем вас в&nbsp;любое время!

            .select-kitchen__row.flex
                button.button.select-kitchen__button.popup-open(href="#modal") Выбрать кухню
                    +icon("select-arrow")

