.why-we {
    .b-sec__bg {
        background-color: #101828;
    }
}

.tizers__slider {
    width: 100%;

    .slick-slide {

        margin-left: -15px;
        margin-right: -15px;
    }

    .slick-slide > div {
        display: flex;
        margin: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }


    .tizer {
        &__item {
            padding: 15px;
            padding-bottom: 30px;

            min-width: 310px;
            //height: 100%;
            display: flex;
        }

        &__inner {
            background-color: #fff;
            padding: 40px 32px 64px;
            height: 100%;


        }

        &__img {
            width: 32px;
            height: 32px;
            margin-bottom: 58px;

            .icon {
                width: inherit;
                height: inherit;
                color: #868D43;
            }
        }

        &__title {
            color: #101828;
            margin-bottom: 12px;
        }

        &__descr {
            color: #667085;
        }
    }
}

.select-kitchen {
    &__row {
        justify-content: center;
        margin-top: 48px;
    }

    &__button {
        background-color: transparent;
        border: 1px solid #D5D9AC;
        padding: 12px 32px;
        color: #868D43;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: -0.2 px;

        .icon {
            width: 16px;
            height: 16px;
            margin-left: 20px;
        }
    }
}


@media (max-width: 1440px) {
    .tizer {
        &__item {
            //min-width: 380px;
        }
    }
}

@media (max-width: 1140px) {
    .tizer {
        &__item {
            //min-width: 333px;
        }
    }
}

@media (max-width: 1139px) {

    .tizers__slider {
        .slick-slide {
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .tizer {
        &__item {
            //min-width: 280px;
        }
    }

    .tizers__slider {
        width: 100%;

        .slick-slide {
            display: flex;
            //overflow: scroll;
        }
    }
}

@media (max-width: 576px) {
    .why-we {
        .select-kitchen__button {
            width: 100%;
        }
    }
}