footer.footer
    .b-sec__bg.b-sec__bg_darkgray
    a(name="a-footer")
    .container
        .footer__row.flex
            .footer__col
                img(src="static/images/png/logo-footer.png" alt="logo")
                .logo-title Свободные<br>кухни

            .footer__col
                .menu-soc-wrap.flex
                    .menu-footer.footer-content
                        .footer-title Компания
                        ul.menu-footer__list
                            li.menu-footer__item
                                a.menu-footer__link(href="#a-top") О нас
                            li.menu-footer__item
                                a.menu-footer__link(href="#a-footer") Контакты
                            li.menu-footer__item
                                a.menu-footer__link.popup-open(href="#modal") Помощь
                    .social-footer.footer-content
                        .footer-title Социальные сети
                        .social-footer__item
                            a.instagram(href="https://www.instagram.com/" target="_blank").flex
                                .social-footer__icon.flex
                                    +icon("instagram")
                                .social-footer__name Instagram
                        .social-footer__item
                            a.youtube(href="https://www.youtube.com/" target="_blank").flex
                                .social-footer__icon.flex
                                    +icon("youtube")
                                .social-footer__name Youtube
                .copyright © 2020 Свободные кухни. All rights reserved