block sec5
    section.b-sec.sec5.catalog
        .b-sec__bg
        .catalog__body
            h2.white-title.center Каталог помещений для аренды


            .slider.catalog__slider
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/cat-s-1.jpg" alt="Пиццерия")
                        .slider-item__text-wrap
                            h4.slider-item__title Пиццерия
                            .slider-item__descr.flex
                                .slider-item__descr-item.slider-item__descr-city Москва
                                .slider-item__descr-item.slider-item__descr-area 190 м2
                                .slider-item__descr-item.slider-item__descr-floor 1 этаж
                            .slider-item__price
                                span.price-bold от 1 500 ₽
                                span /час
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/cat-s-2.jpg" alt="Суши")
                        .slider-item__text-wrap
                            h4.slider-item__title Суши
                            .slider-item__descr.flex
                                .slider-item__descr-city Москва
                                .slider-item__descr-area 190 м2
                                .slider-item__descr-floor 1 этаж
                            .slider-item__price
                                span.price-bold от 1 500 ₽
                                span /час
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/cat-s-3.jpg" alt="Кондитерская")
                        .slider-item__text-wrap
                            h4.slider-item__title Кондитерская
                            .slider-item__descr.flex
                                .slider-item__descr-city Москва
                                .slider-item__descr-area 190 м2
                                .slider-item__descr-floor 1 этаж
                            .slider-item__price
                                span.price-bold от 1 500 ₽
                                span /час
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/cat-s-4.jpg" alt="Бургерная")
                        .slider-item__text-wrap
                            h4.slider-item__title Бургерная
                            .slider-item__descr.flex
                                .slider-item__descr-city Москва
                                .slider-item__descr-area 190 м2
                                .slider-item__descr-floor 1 этаж
                            .slider-item__price
                                span.price-bold от 1 500 ₽
                                span /час
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/cat-s-5.jpg" alt="Кондитерская")
                        .slider-item__text-wrap
                            h4.slider-item__title Кондитерская
                            .slider-item__descr.flex
                                .slider-item__descr-city Москва
                                .slider-item__descr-area 190 м2
                                .slider-item__descr-floor 1 этаж
                            .slider-item__price
                                span.price-bold от 1 500 ₽
                                span /час
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/cat-s-6.jpg" alt="Бургерная")
                        .slider-item__text-wrap
                            h4.slider-item__title Бургерная
                            .slider-item__descr.flex
                                .slider-item__descr-city Москва
                                .slider-item__descr-area 190 м2
                                .slider-item__descr-floor 1 этаж
                            .slider-item__price
                                span.price-bold от 1 500 ₽
                                span /час
                .slider-item
                    .slider-item__inner
                        .slider-item__img-wrap
                            .slider-item__img
                                img(src="static/images/jpg/cat-s-6.jpg" alt="Бургерная")
                        .slider-item__text-wrap
                            h4.slider-item__title Бургерная
                            .slider-item__descr.flex
                                .slider-item__descr-city Москва
                                .slider-item__descr-area 190 м2
                                .slider-item__descr-floor 1 этаж
                            .slider-item__price
                                span.price-bold от 1 500 ₽
                                span /час


