block sec3
    section.b-sec.sec3.start
        .b-sec__bg
        .start__body
            .start__head
                h2.dark Начать свой ресторанный бизнес&nbsp;&mdash; легко!
                .sec__row3.start__row
                    .sec__col3.start__col
                        .start__item.flex
                            .item__num.flex 1
                            .item__descr
                                h4.item-subtitle Выберите одну из&nbsp;опций бронирования
                                .descr-small.item-text Пройдите этап регистрации на сайте, чтобы вам стал доступен весь каталог для аренды.
                                .item-link
                                    a.popup-open(href="#modal")
                                        span Открыть каталог
                                        +icon('arrow')
                    .sec__col3.start__col
                        .start__item.flex
                            .item__num.flex 2
                            .item__descr
                                h4.item-subtitle Выберите необходимое оборудование
                                .descr-small.item-text.
                                    У нас доступны пространства под разные типы кухни. Вы&nbsp;можете снимать целую кухню или
                                    рабочее место на&nbsp;любой срок.
                                .item-link
                                    a.popup-open(href="#modal")
                                        span Открыть каталог
                                            +icon('arrow')
                    .sec__col3.start__col
                        .start__item.flex
                            .item__num.flex 3
                            .item__descr
                                h4.item-subtitle Начните готовить
                                .descr-small.item-text.
                                    Мы предоставляем всё необходимое оборудование для работы, осталось выбрать, какое нужно именно вам!

            .video-block
                a(href="https://www.youtube.com/embed/xBsbgDEoB1k").video-block__link.flex
                    img(src="static/images/jpg/video.jpg" alt="Видео")
                    button.button.button-play
                        +icon('play')