block sec8
    section.b-sec.sec8.reviews
        .b-sec__bg.b-sec__bg_half-bg
        .reviews__body
            .sec__row.reviews__row

                .sec__col2.reviews__col
                    .col2__inner
                        h2.white-title Нас выбирают профессионалы!
                        .descr.reviews__descr.
                            Предоставить по-настоящему высококлассное обслуживание и&nbsp;сформировать отличное впечатление у&nbsp;клиента

                .sec__col2.reviews__col
                    .reviews__wrapper
                        .blockquote__row
                            .img-blockquote
                                img(src="static/images/png/bloquote.png" alt="blockquote")
                        .col2__inner
                            .b-sec__bg.b-sec__bg_half-bg-2

                            .slider.reviews__slider

                                .slider-item
                                    .review
                                        .review__row.flex
                                            .review__col
                                                img(src="static/images/jpg/person.jpg" alt="person")
                                            .review__col
                                                .review__name Денис Керилов
                                                .review__person-descr директор ресторана «Друзья»
                                        .review__text.
                                            Здравствуйте, я Евгений Лунаев, занимаюсь созданием сайтов для своих клиентов уже 10&nbsp;лет.
                                            Пользуюсь данным хостингом уже несколько лет, начинал с&nbsp;тарифа Лайт перейдя с&nbsp;всем
                                            известного хостинга РЕГ.РУ, затем сменил тариф на М, поскольку сайтов стало больше.
                                            Скорость хостинга, удобство работы соответствует цене, она высокая, но оправданная. Рекомендую!
                                            Здравствуйте, я Евгений Лунаев, занимаюсь созданием сайтов для своих клиентов уже 10&nbsp;лет.
                                            Пользуюсь данным хостингом уже несколько лет, начинал с&nbsp;тарифа Лайт перейдя с&nbsp;всем
                                            известного хостинга РЕГ.РУ, затем сменил тариф на М, поскольку сайтов стало больше. Скорость
                                            хостинга, удобство работы соответствует цене, она высокая, но оправданная. Рекомендую!
                                .slider-item
                                    .review
                                        .review__row.flex
                                            .review__col
                                                img(src="static/images/jpg/person.jpg" alt="person")
                                            .review__col
                                                .review__name Денис Керилов
                                                .review__person-descr директор ресторана «Друзья»
                                        .review__text.
                                            Здравствуйте, я Евгений Лунаев, занимаюсь созданием сайтов для своих клиентов уже 10&nbsp;лет.
                                            Пользуюсь данным хостингом уже несколько лет, начинал с&nbsp;тарифа Лайт перейдя с&nbsp;всем
                                            известного хостинга РЕГ.РУ, затем сменил тариф на М, поскольку сайтов стало больше. Скорость
                                            хостинга, удобство работы соответствует цене, она высокая, но оправданная. Рекомендую!


