block sec6
    section.b-sec.sec6.just-cook
        .b-sec__bg
        .team__body
            .sec__row.just-cook__row
                .sec__col2.just-cook__col
                    .col2__inner

                        h2.white-title Вам нужно только готовить
                        .just-cook__item
                            h4.just-cook__subtitle Правильная геолокация
                            .descr-small.just-cook__text.
                                Свободные кухни расположены в&nbsp;самом центре, чтобы помочь вам вести свой бизнес по&nbsp;доставке еды,
                                охватывая все района города с&nbsp;максимальной эффективностью и&nbsp;минимальными затратами.
                        .just-cook__item
                            h4.just-cook__subtitle Команда по&nbsp;выполнению заказов
                            .descr-small.just-cook__text.
                                Ваша доставка еды порадует покупателей скорость и&nbsp;точностью, благодаря правильно спроектированному
                                помещению и&nbsp;наличию всех необходимых сервисов.
                        .just-cook__item
                            h4.just-cook__subtitle Ваша кухня&nbsp;&mdash; в&nbsp;наших руках
                            .descr-small.just-cook__text.
                                Мы заботимся об уборке, дезинфекции, вывозе мусора, техническом обслуживании кухни и&nbsp;соблюдении
                                правил безопасности. Вы&nbsp;можете полностью сосредоточиться на готовке и&nbsp;совершенствовании
                                качества вашего продукта!
                .sec__col2.just-cook__col
                    .col2__inner
                         .cook-pict__row.flex
                             .cook-pict__col
                                 .cook-pict__wrap.cook-pict__first
                                     h5.cook-pict__title Зона выдачи заказа
                                     .descr-extrasmall.cook-pict__descr.
                                        наши администраторы передадут ваш заказ курьеру даже в&nbsp;ваше отсутствие
                             .cook-pict__col
                                 .cook-pict__wrap.cook-pict__second
                                     h5.cook-pict__title Свободные кухни
                                     .descr-extrasmall.cook-pict__descr полностью укомплектованы всем необходимым
                             .cook-pict__col
                                 .cook-pict__wrap.cook-pict__third
                                     h5.cook-pict__title Все готово
                                     .descr-extrasmall.cook-pict__descr.
                                        Гардеробы, комнаты приема пищи, санузлы, комната для фотосьемки все уже готово и&nbsp;ждет Вас