extends base/pug/main

block variables
    - var title = "Свободные кухни"

block sec1
    include components/sections/sec1/sec1

block sec2
    include components/sections/sec2/sec2

block sec3
    include components/sections/sec3/sec3

block sec4
    include components/sections/sec4/sec4

block sec5
    include components/sections/sec5/sec5

block sec6
    include components/sections/sec6/sec6

block sec7
    include components/sections/sec7/sec7

block sec8
    include components/sections/sec8/sec8